<p>{% assign series_pages = site.tags.series_crosscore %}
    {% for p in pages %}
    {% if p.series == "crosscore" %}
    {% assign nextTopic = page.weight | plus: "1"  %}
    {% if p.weight == nextTopic  %}
    <a href="{{p.url | remove: "/"}}"><button type="button" class="btn btn-primary">Next: {{p.title}}</button></a>
    {% endif %}
    {% endif %}
    {% endfor %}
</p>